
////// Base /////
/* --Used for global styles
Or to override certain Atom core styles--
---------contents----------
1.) base-text-styles
2.) misc-text
3.) mixins
4.) settings-pages
-------contents-end-------*/



html {
  background-color: white;
}

body {
  font-size: @font-size;
  color: @text-color;
}

atom-pane {
  border-right: none;
  &:last-child {
    border-right: none;
  }
}

atom-pane-container atom-pane .item-views {
  border: 1px solid darken( @app-background-color, 2%) !important; //--adds border around all panes--//
}


/*----cursor and text selection---*/
//--blinking caret--//
//make setting
.cursors, .cursor {
  div {
    // border-left: 2px solid @background-main;
    height: 2rem !important;
    border-left: 2px solid @text-edited;
  }
}

.scroll-view div, .scroll-view span {
  // background-color: @background-main;
}

.highlights .highlight.selection .region.selection{
  background-color: @background-color-info;
  border-radius:2px;
  border-right:@highlight-border;
  border-left:@highlight-border;
  opacity:0.15;
  &:first-child {
    border-top:@highlight-border;
    border-right:@highlight-border;
    border-left:@highlight-border;
  }
  &:last-child {
    border-bottom:@highlight-border;
    border-right:@highlight-border;
    border-left:@highlight-border;
  }
}
/*----cursor and text selection---*/
