
// Base
// -------------------

// Used for global styles
// Or to override certain Atom core styles

// -------------------
html {
  background-color:white;
}

body {
  font-size: @font-size;
  color: @text-color;
  // background-color: @app-background-color;
}


atom-pane {

  border-right: none;
  &:last-child {
    border-right: none;
  }
}
atom-pane-container atom-pane .item-views {
  border:1px solid darken( @app-background-color, 2%) !important;

}
select {
  &:focus {
    border: 1px solid @text-color !important;
    color:@text-hover !important;
  }
  color: @test2 !important;
  & * {
      color: @test2 !important;
  }
  & option {
    color: @test2 !important;
  }

}
