
// Buttons
// -------------------

// Overrides: atom/atom/static/buttons.less
.welcome-card {
  transition:all 0.2s;
      border:0.5px solid transparent;
  &:hover {
    border:0.5px solid rgba(255,255,255,0.05);
    -webkit-box-shadow:  -1px 5px 9px -3px rgba(0,0,0,0.2);
    -moz-box-shadow:  -1px 5px 9px -3px rgba(0,0,0,0.2);
    box-shadow:  -1px 5px 9px -3px rgba(0,0,0,0.2);
  }

  &:active {
    border:0.5px solid rgba(255,255,255,0.12);
    -webkit-box-shadow: inset  -1px 5px 9px -3px rgba(0,0,0,0.2);
    -moz-box-shadow: inset  -1px 5px 9px -3px rgba(0,0,0,0.2);
    box-shadow: inset  -1px 5px 9px -3px rgba(0,0,0,0.2);
  }
}


.welcome-highlight {
  color:#98C1D9;
}


.btn {
  height:auto;
  color: @text-hover;
  background-color: @button-background-color;
  &:hover,
  &:focus {
    color: @text-color-highlight;
    background-color: @background-color-selected;
  }
  &:active {
    color: fade(@text-color-selected, 66%);
    background-color: darken(@button-background-color, 2%);
  }
  &.selected {
    color: @text-color-selected;
    background-color: @button-background-color-selected;
  }
  &:focus,
  &:focus:active {
    outline: none;
  }
}


// Colored buttons -----------------------
.btn.btn-primary { .btn-color(@background-color-info); }
.btn.btn-info    { .btn-color(@background-color-info); }
.btn.btn-success { .btn-color(@background-color-success); }
.btn.btn-warning { .btn-color(@background-color-warning); }
.btn.btn-error   { .btn-color(@background-color-error); }
.btn-color(@bg) {
  color: @text-color-selected;
  background-color: @bg;
  font-size:1.2rem;
  &:hover,
  &:focus {
    background-color: lighten(@bg, 4%);
  }

  &:active {
    background-color: darken(@bg, 4%);
  }

  &.selected {
    background-color: lighten(@bg, 4%);
  }

  &.selected:focus,
  &.selected:hover {
    background-color: lighten(@bg, 8%);
  }
}


// Button Group -----------------------
.btn-group > .btn {
  border-color: hsla(0,0%,0%,.2);
}

.atom-dock-toggle-button-inner.left, .atom-dock-toggle-button-inner.right {
  color:@text-suggestion;
  &:hover {
    color: @text-edited;
  }
}
.atom-dock-toggle-button .atom-dock-toggle-button-inner {
  border: 1px solid @text-color;
  transition:all 0.25s;
  &:hover {
    border: 1px solid @white;

  }
}
.alert.alert-info.icon.icon-heart {
color:@background-color-success;
}
button.btn.btn-default.selected {
background-color: @background-color-selected;
color:@project-panel-background;
}
