
////// cards /////
/* --Styles cards throughout atom
includes welcome/package/theme cards --
---------contents----------
1.) package/theme cards
2.) welcome-card
-------contents-end-------*/



/*--package/theme cards--*/
.package-card.col-lg-8 {
  // border-radius: 6px;
  .animations-enabled__active & {
    transition: border 0.25s;
  }
  margin: 0.5rem auto 2rem;
  border: 0.5px solid transparent;
  color: lighten(@text-color, 5%);
  background-color: darken(@button-background-color, 7%);
  &:hover {
    background-color: darken(@button-background-color, 7%);
    border: 0.5px solid rgba(255,255,255,0.05);
    // -webkit-box-shadow:  -1px 5px 9px -3px rgba(0,0,0,0.2);
    // -moz-box-shadow:  -1px 5px 9px -3px rgba(0,0,0,0.2);
    box-shadow:  -1px 5px 9px -3px rgba(0,0,0,0.2);
  }
}

//--adds margin between theme/package card--//
section.sub-section {
  margin-top: 2.5rem;
}
/*---package/theme-cards-end---*/



/*---welcome-card----*/
.welcome-card {
  margin: 1.1em;
  .animations-enabled__active & {
    transition: all 0.2s;
  }
  border: 0.5px solid transparent;
  &:hover, &:active {
    &:extend(.package-card.col-lg-8:hover);
  }
}

.welcome-highlight {
  color: @background-color-info;
}

summary.welcome-summary.icon {
  padding: 1.2em 1.5em;
}
/*---welcome-card-end---*/
