
////// icons /////
/* --Styles all icons, badges, spinners --
---------contents----------
1.) icons-in-welcome-guide
2.) settings-icons
3.) git-icons
4.) Spinner
5.) file-extention-color
-------contents-end-------*/



/*----icons-in-welcome-guide---*/
summary.welcome-summary.icon:before {
  color: @accentColor;
}
/*----icons-in-welcome-guide-end--*/



/*----settings-icons-----*/
//--icon with clipboard + arrow, used throughout key bindings page--//
.text .icon::before, .text.icon::before {
  margin: 0 4px;
}

//--installed themes, packages, updates badge--//
.badge {
  background-color: @atom-text;
  border: @badge-outline-color;
  color: black;
  padding: 0.35em 0.5em 0.25em !important;
}

.btn-group .icon-gear:before, .btn-group .icon-trashcan:before, .btn-group .icon.icon-playback-pause.enablement:before, .btn-group .icon.enablement.icon-playback-play:before{
  line-height: inherit; // icon + text vertical
  display: block; // icon + text vertical
  margin: 0rem !important;
}

//----fixes other settings---/
section.section.settings-panel & {
  display: inline;
  margin-right: 1rem !important;
}
/*----settings-icons-end----*/



/*---git-icons---*/
//--large Github icon located in left Github drawer--//
.github-Blank-LargeIcon.icon.icon-mark-github:before, .github-Git-LargeIcon.icon.icon-repo:before {
  color: @background-project-drawer;
  font-size: 10rem;
}
/*---git-icons-end--*/



/*-------Spinner--------*/
// The `progress` element is unstyled and defined by the OS.
// See https://css-tricks.com/html5-progress-element/ in case you want to customize it.
.loading-spinner-large  { .loading-spinner(64px); }
.loading-spinner-medium { .loading-spinner(48px); }
.loading-spinner-small  { .loading-spinner(32px); }
.loading-spinner-tiny   { .loading-spinner(16px); }

.loading-spinner(@size) {
  display: block;
  width: @size;
  height: @size;
  background-image: url(images/octocat-spinner-128.gif);
  background-repeat: no-repeat;
  background-size: @size @size;
  &.inline-block {
    display: inline-block;
  }
}
/*-------Spinner-end--------*/



/*------file-extention-color----*/
.file-extention-mixin(@file-color){
  .file-ext-color__active & {
    color: inherit; //---makes file icons stand out (available in settings)--//
    opacity: 1;
  }
  opacity: 0.5;
  color: @file-color;
  .tab-bar & {
    opacity: 0.8;
  }
  .selected > & {
    opacity: 1;
    color: @text-color-selected;
  }
}

.medium-red:before {
  .file-extention-mixin(@text-edited)
}

.medium-blue:before {
  .file-extention-mixin(@background-color-info)
}

.medium-green:before, .medium-cyan:before, .dark-cyan:before {
  .file-extention-mixin(@atom-text)
}

.medium-yellow:before {
  .file-extention-mixin(@background-main)
}

.dark-blue:before {
  .file-extention-mixin(darken(@background-color-info, 40%))
}
/*------file-extention-color-end---*/
