
////// lists /////
/* --Used in different places, like the Tree View, Commmand Palette etc.
// Overrides: atom/static/lists.less--
---------contents----------
1.) List-Group
2.) List-Project-Folder-contents
3.) Select-Lists
4.) Popover-List
-------contents-end-------*/



/*------List-Group--------------*/
//---command pallete---//
.list-group {
  li {
    padding-left: @component-padding/2;
    &.selected {
      color: @text-color-selected;
      background-color: @background-main;
      &:before {
        display: none;
      }
    }
  }
}
/*------List-Group-end-------------*/



/*-----List-Project-Folder-contents-------------*/
.list-tree {
  color: @text-color;
  .selected {
    color: @text-color-selected;
  }
}
/*-----List-Project-Folder-contents-------------*/



/*-----Select-Lists-------------*/
//---command pallete---//
.select-list {
  li {
    padding: @component-padding/2 @component-padding * 2;
  }
  .status {
    float: right;
  }
}
/*-----Select-Lists-end------------*/



/*----Popover-List------------------*/
// Used as a popover for something like autocomplete.
.select-list.popover-list {
  @popover-list-padding: @component-padding/2;
  padding: @popover-list-padding;
  border-radius: @component-border-radius;
  box-shadow: 0 2px 8px 1px hsla(0,0%,0%,.3);
  .list-group {
    margin-top: @popover-list-padding;
    li {
      padding-left: @popover-list-padding;
    }
  }
}
/*----Popover-List-end-----------------*/
