
////// panels /////
/* --atom-panels--
// Overrides: atom/static/panels.less
---------contents----------
1.) unsure-where-applies
2.) THEME_SETTING: syntax-theme-overide
3.) settings-menu-panel
4.)
-------contents-end-------*/



/*-----unsure-where-applies---*/
.panel-heading {
  border-bottom: 1px solid @panel-heading-border-color;
  background-color: @panel-heading-background-color;
}

.inset-panel {
  background-color: @panel-heading-background-color;
  .panel-heading {
    background-color: lighten(@panel-heading-background-color, 4%);
  }
}
/*-----unsure-where-applies-end---*/



/*-----THEME_SETTING: syntax-theme-overide (default=ON)-----*/
.match-syntaxTheme__active atom-text-editor {
  background-color: @background-color-lighter;
}
.match-syntaxTheme__active .gutter.line-numbers {
  background-color: rgba(25,28,35,0.25);
  color:@text-hover;
}
/*-----THEME_SETTING: syntax-theme-overide-end-----*/


/*----settings-menu-panel----*/
// .config-menu {
//    font-size:1rem;
//      //--options--//
//      li a {
//        color: lighten(@text-color, 10%);
//      }
//      button.btn.btn-default {
//        background: rgb(119,57,249);
//        background: linear-gradient(117deg, rgba(119,57,249,0.3) 0%, rgba(210,17,255,0.3) 29%, rgba(106,248,250,0.3) 78%, rgba(73,176,177,0.3) 96%) !important;
//        color: lighten(@text-color, 10%);
//      }
//      background: rgb(119,57,249);
//      background: linear-gradient(117deg, rgba(119,57,249,0.3) 0%, rgba(210,17,255,0.3) 29%, rgba(106,248,250,0.3) 78%, rgba(73,176,177,0.3) 96%) !important;
//    }

.config-menu {
  font-size:1rem;
  //--options--//
  li a {
    color: lighten(@text-color, 30%);
  }
  button.btn.btn-default {
    font-size: 90%;
    background: rgb(119,57,249);
    background: linear-gradient(117deg, fade(@accentColor, 40%) 0%, rgba(210,17,255,0.4) 40%, fade(@complimentary, 40%) 60%, fade(@complimentary2, 45%) 96%) !important;
    color: lighten(@text-color, 40%);
    -webkit-box-shadow:  -1px 5px 9px 0px rgba(0,0,0,0.1);
      -moz-box-shadow:  -1px 5px 9px 0px rgba(0,0,0,0.1);
      box-shadow:  -1px 5px 9px 0px rgba(0,0,0,0.1);
    .settings-panel-color__active & {
      box-shadow: none;
    }
    &:hover {
      background: @background-main !important;
      color: @background-project-drawer;
    }
    .settings-panel-color__active & {
      background: @button-background-color !important;
      color: darken(@text-color, 5%);
      &:hover {
        color: @text-color-highlight;
        background: @accentColor !important;
      }
    }
  }
  background: rgb(119,57,249);
  background: linear-gradient(117deg, fade(@accentColor, 40%) 0%, rgba(210,17,255,0.4) 40%, fade(@complimentary, 40%) 60%, fade(@complimentary2, 60%) 96%) !important;
}

//--if panel color setting toggled on return to normal--//
.settings-panel-color__active .config-menu {
    background: @tab-bar-background-color !important;
    button.btn.btn-default {
      background-color: lighten(@tab-bar-background-color, 4%);
    }
  }

.settings-view .config-menu {
  .animations-enabled__active & {
    transition: all 0.2s;
  }
  padding-top: 0;
  opacity: 1;
  border-right: 1px solid @background-project-drawer;
  ul.panels-menu.nav.nav-pills.nav-stacked > li a {
    // color: @text-hover !important; //--optional--//
    padding-top: 1.5rem; //increases setting tabs height
    padding-bottom: 1.5rem; //increases setting tabs height
    &:active {
      background-color: transparent;
      color: @background-project-drawer;
    }
  }
  //--adds different hover affect for active tabs--//
  ul.panels-menu.nav.nav-pills.nav-stacked li.active a:hover {
    background: mix(@accentColor, @background-project-drawer);
  }
}

ul.panels-menu.nav.nav-pills.nav-stacked > li a:hover {
  color: white;
  background: rgb(119,57,249);
  background: linear-gradient(117deg, fade(@accentColor, 25%) 0%, rgba(210,17,255,0.3) 40%, fade(@complimentary, 30%) 60%, fade(@complimentary2, 45%) 96%);
  .settings-panel-color__active & { //--if panel color setting toggled on return to normal--//
    background: @background-project-drawer;
  }
}
/*----settings-menu-panel-end----*/
