
// Panels
// -------------------

// Overrides: atom/static/panels.less
.panel-heading {
  border-bottom: 1px solid @panel-heading-border-color;
  background-color: @panel-heading-background-color;
}

.inset-panel {
  background-color: @inset-panel-background-color;
  .panel-heading {
    background-color: lighten(@inset-panel-background-color, 4%);
  }
}


// Modal -------------------
// Used on top of the editor, like the Command Palette.
atom-panel.modal {
  border: 2px solid @overlay-border-color;
  border-top: none;
  box-shadow: 0 2px 8px 1px hsla(0,0%,0%,.3);
  background-color: #222831;
}


.atom-dock-resize-handle.left, .atom-dock-resize-handle.right {
  width: 0px;
}


atom-text-editor {
  background-color: #282f3a;
}


.config-menu {
  background-color: @tab-bar-background-color !important;
}


.settings-view .config-menu {
  transition:all 0.2s;
  padding-top:0;
  opacity:1;

  ul.panels-menu.nav.nav-pills.nav-stacked a {
    &:hover{
    color:@text-hover;
      background-color: #191c23;
    }
    &:active {
      background-color:transparent;
      color:@text-color;
    }
  }

  ul.panels-menu.nav.nav-pills.nav-stacked li.active a:hover {
    background-color: #46473a;
  }
}


//nested folders
ol.entries.list-tree{
  li {
    &.expanded{
      background-color:  lighten(@tree-view-background-color, 1.5%);

      & .expanded{
        background-color:  lighten(@tree-view-background-color, 3%);
        li {
          color: #8c9d9d;
        }

        & .expanded {
          background-color:  lighten(@tree-view-background-color, 4%);
          li {
            color: #bdd3d3;
            }

          & .expanded{
            background-color:  lighten(@tree-view-background-color, 5.5%);
            li {
              color: #e4ffff;
            }

            & .expanded{
              background-color:  lighten(@tree-view-background-color, 7%);
              li {
                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }
}


.expanded {
  color:@folder-open-text;
}


.list-item.selected, .list-nested-item.selected {
  color:black !important;
  &.edited, .edited, &.modified, .modified, &.status-modified, .status-modified{
    color: @text-edited !important;
  }
}
