
// Panels
// -------------------

// Overrides: atom/static/panels.less
.panel-heading {
  border-bottom: 1px solid @panel-heading-border-color;
  background-color: @panel-heading-background-color;
}

.inset-panel {
  background-color: @inset-panel-background-color;
  .panel-heading {
    background-color: lighten(@inset-panel-background-color, 4%);
  }
}

.select-list.fuzzy-finder .editor.mini, .select-list.command-palette .editor.mini{
  max-height:none;
  height:2.5rem;
margin:0.5rem;
padding:0;


border:8px;
background-color:rgba(204, 218, 209, 0.02);
border-radius:4px;
color:@text-color-info;
div:nth-child(-n+3){
  height:2.5rem;
}

.lines{
    padding-left:0.75rem;
    caret-height:0.5rem;
}
span {
  font-size:1.2rem;
  line-height:2.5rem;
  // padding-left:0.5rem;
}

}
// Modal -------------------
// Used on top of the editor, like the Command Palette.
atom-panel.modal {
border-radius:8px;

  // box-shadow: 0 2px 8px 1px hsla(0,0%,0%,.3);
  border:1px solid darken( @app-background-color, 2%) !important;
  height:auto;
top:0;
margin-top:5.3vh;
  position:absolute;
  z-index:100;
padding:0;
   background-color: rgba(25, 28, 35, .55);
   backdrop-filter: blur(5px);
}


.atom-dock-resize-handle.left, .atom-dock-resize-handle.right {
  width: 0px;
}


 .match-syntaxTheme__active atom-text-editor {
  background-color: #282f3a;
}


 .config-menu {
  background-color: @tab-bar-background-color !important;
}


.settings-view .config-menu {
  transition:all 0.2s;
  padding-top:0;
  opacity:1;

  ul.panels-menu.nav.nav-pills.nav-stacked a {
    &:hover{
    color:@text-hover;
      background-color: #191c23;
    }
    &:active {
      background-color:transparent;
      color:@text-color;
    }
  }

  ul.panels-menu.nav.nav-pills.nav-stacked li.active a:hover {
    background-color: #46473a;
  }
}


//nested folders
ol.entries.list-tree{
  li {
    &.expanded{
      color:@folder-open-text;
      border-radius:8px;
    }
  }
}

.directory-highlight__active ol.entries.list-tree{
  li {
    &.expanded{
      color:@folder-open-text;

      border-radius:8px;
      background-color:  lighten(@tree-view-background-color, 1.5%);

      & .expanded{
        background-color:  lighten(@tree-view-background-color, 3%);


        & .expanded {
          background-color:  lighten(@tree-view-background-color, 4%);


          & .expanded{
            background-color:  lighten(@tree-view-background-color, 5.5%);


            & .expanded{
              background-color:  lighten(@tree-view-background-color, 7%);

            }
          }
        }
      }
    }
  }
}


.expanded {
  color:@folder-open-text;

}



.list-item.selected, .list-nested-item.selected {
  color: #212630 !important;
  &.edited, .edited, &.modified, .modified, &.status-modified, .status-modified{
    color: @background-color-selected !important;
  }
}

.gutter.line-numbers {
  background-color: rgba(25,28,35,0.25);
  color:@text-hover;
  // border-right:2px solid rgba(25,28,35,0.4);
}

li.directory.entry.list-nested-item {
  .selected {
    color:#191c22;
  }
}


.settings-view.pane-item .panels {
    overflow-x: scroll;
    padding:3rem;

}
