////// Popups /////
/* --Command Pallete, Project Find, Find and replace in
the current buffer or across the entire project.
// Overrides: atom/find-and-replace--
---------contents----------
1.) find+replace
2.) pop-up-finder-window+command-pallete
3.) git-branch-popup
-------contents-end-------*/



/*---find+replace--adds foggy glass affect---*/
.find-and-replace, .project-find.padded {
  // &:focus{
  //   border: none;
  //   text-decoration: none;
  // }
  width: 100%;
  border-top: 4px solid @app-background-color;
  bottom: 0;
  position: absolute;
  z-index: 100;
  padding: 0 0 1.7rem 0;
  background-color: rgba(25, 28, 35, .55);
  backdrop-filter: blur(5px);
  .icon-x:hover {
    color: @text-edited;
  }
  // input:focus {
  //   border: none;
  //   text-decoration: none;
  // }
  .input-block, .header-item {
    padding: 0 2rem;
  }
  .editor.mini > div, .scroll-view {
    background-color: transparent !important;
  }
  .input-block-item.input-block-item--flex.editor-container .editor.mini, atom-text-editor.editor.mini {
    // background-color: rgba(73, 86, 106, 0.3);
    border-radius: 4px;
    border: none;
    color: @background-color-info;
    padding: auto 1rem auto 1.5rem;
    height: 3.5rem;
    &.is-focused {
      // background-color: rgba(204, 218, 209, 0.08);
    }
  }
  .header{
    padding-top: 1.7rem;
    padding-bottom: 1rem;
  }
}

atom-panel.tool-panel.panel-bottom.bottom {
  .btn-group-options {
    height: 2rem;
    .btn {
      height: inherit;
    }
  }
  .btn {
    height: 3.4rem;
  }
}
/*---find+replace-end---*/



/*------pop-up-finder-window+command-pallete----*/
//---text search area--//
.select-list.fuzzy-finder, .select-list.encoding-selector, atom-panel.modal.overlay.from-top .select-list {
  padding: 0.1rem 0.2rem 0rem;
}

.select-list.fuzzy-finder .editor.mini,
.select-list.command-palette .editor.mini,
.select-list.encoding-selector .editor.mini,
atom-panel.modal.overlay.from-top .select-list .editor.mini {
  color: @background-color-info;
  border-radius: 0 0 8px 8px;
  font-size: 1.2rem;
  padding: 1rem 1rem 1rem 1.5rem;
  opacity: 0.9;
  .lines {
    padding-left: 0rem;  // input text indent
  }
  div {
    background-color: transparent !important;
  }
}

//--creates foggy glass affect--//
atom-panel.modal {
  border-radius: 8px;
  border: 1px solid darken( @app-background-color, 2%) !important;
  top: 0;
  margin-top: 4rem;
  .tab-bar__active & {  // changes placement of pallete if tab bar hidden
    margin-top: 1.2rem;
  }
  position: absolute;
  z-index: 100;
  padding: 0;
  background-color: rgba(25, 28, 35, .55);
  backdrop-filter: blur(5px);
}
/*------pop-up-finder-window-end----*/



/*------git-branch-popup----*/
.tooltip.github-StatusBarTileController-tooltipMenu .tooltip-inner {
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  border: 1px solid darken( @app-background-color, 2%);
  padding: 0;
  select, button {
    opacity: 0.7;
  }
  // margin-bottom: 1rem !important;
  .github-BranchMenuView-selector {
    // height: 100%;
    // width: 100%;
    background-color: rgba(25, 28, 35, 0.55);
    padding: 0.9rem;
  }
}
/*------git-branch-popup-end---*/
