////// Popups /////
/* --Command Pallete, Project Find, Find and replace in
the current buffer or across the entire project.
// Overrides: atom/find-and-replace--
---------contents----------
1.) find+replace
2.) pop-up-finder-window+command-pallete
3.) git-branch-popup
4.) git-dialog-popup
5.) autocomplete-popup
-------contents-end-------*/



/*---find+replace--adds foggy glass affect---*/
.find-and-replace, .project-find.padded {
  width: 100%;
  border-top: 2px solid darken( @app-background-color, 2%);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  bottom: 0;
  position: absolute;
  z-index: 100;
  padding: 0 0 1.7rem 0;
  box-shadow+: 0px -8px 20px 1px rgba(0,0,0,0.15);
  box-shadow+: inset 17px -40px 300px 140px rgba(255, 255, 255, 0.015);
  background-color: rgba(25, 28, 35, 0.8);
  backdrop-filter: blur(5px);
  .icon-x:hover {
    color: @text-edited;
  }
  .input-block, .header-item {
    padding: 0 2rem;
  }
  .editor.mini > div, .scroll-view {
    background-color: transparent !important;
  }
  .input-block-item.input-block-item--flex.editor-container .editor.mini, atom-text-editor.editor.mini {
    background-color: lighten(rgba(40, 47, 58, 0.7), 10%);
    border: 1px solid darken( @app-background-color, 8%) !important;
    border-radius: 4px;
    opacity: 0.5;
    border: none;
    color: @background-color-info ;
    padding: auto 1rem auto 1.5rem;
    height: 3.5rem;
    &.is-focused {
      opacity: 0.9;
      background-color: lighten(@background-project-drawer, 1%);
      border: 1px solid darken( @app-background-color, 5%) !important;
    }
  }
  .header{
    padding-top: 1.7rem;
    padding-bottom: 1rem;
  }
}

atom-panel.tool-panel.panel-bottom.bottom {
  .btn-group-options {
    height: 2rem;
    .btn {
      height: inherit;
    }
  }
  .btn {
    height: 3.4rem;
  }
}
/*---find+replace-end---*/



/*------pop-up-finder-window+command-pallete----*/
//---text search area--//
.select-list.fuzzy-finder, .select-list.encoding-selector, atom-panel.modal.overlay.from-top .select-list {
  padding: 0.1rem 0.2rem 0rem;
}

.select-list.fuzzy-finder .editor.mini,
.select-list.command-palette .editor.mini,
.select-list.encoding-selector .editor.mini,
atom-panel.modal.overlay.from-top .select-list .editor.mini {
  color: @background-color-info;
  border-radius: 0 0 8px 8px;
  font-size: 1.2rem;
  padding: 1rem 1rem 1rem 1.5rem;
  opacity: 0.9;
  .lines {
    padding-left: 0rem;  // input text indent
  }
  div {
    background-color: transparent !important;
  }
}

//--creates foggy glass affect--//
atom-panel.modal {
  border-radius: 8px;
  color: lighten(@text-color, 7%);
  border: 1px solid darken( @app-background-color, 2%) !important;
  top: 0;
  margin-top: 3.9rem;
  .tab-bar__active & {  // changes placement of pallete if tab bar hidden
    margin-top: 1.2rem;
  }
  position: absolute;
  z-index: 100;
  padding: 0;
  box-shadow+: 8px 4px 12px 0px rgba(0,0,0,0.15);
  box-shadow+: inset 17px -40px 300px 140px rgba(255, 255, 255, 0.02);
  background-color: rgba(25, 28, 35, .5);
  &:before {
    content: " ";
    display: block;
    position: absolute;
    background-color: rgba(25, 28, 35, .4);
    z-index: -10;
    backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;
  }
  .select-list ol.list-group {
    margin-top: 0;
    li:first-of-type {
      margin-top: 0.9rem;
    }
  }
}
/*------pop-up-finder-window-end----*/



/*------git-branch-popup----*/
.tooltip.github-StatusBarTileController-tooltipMenu .tooltip-inner {
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  border: 1px solid darken( @app-background-color, 2%);
  padding: 0;
  select, button {
    opacity: 1;
  }
  .github-BranchMenuView-selector {
    background-color: rgba(25, 28, 35, 0.55);
    padding: 1rem;
    margin-bottom: -1rem;
  }
}
/*------git-branch-popup-end---*/



/*------git-dialog-popup----*/
.github-Dialog {
  background-color: rgba(25, 28, 35, .25);
  padding: 1rem !important;
  color: lighten(@text-color, 25%);
  .github-Create-header {
    color: @text-hover;
    font-weight: 400;
    text-align: center;
  }
  .Select-control {
    margin-top: 0;
    .Select-value.Select-value {
      background-color: transparent !important;
    }
  }
  .github-Create-visibility.block {
    display: flex;
    justify-content: center;
    & :before {
      color: @accentColor;
    }
  }
  atom-text-editor.editor.mini {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
  }
  button.btn.icon.icon-file-directory.github-Dialog-rightBumper {
    margin-left: 5px;
  }
  button {
    height: auto;
  }
  .github-DialogButtons button {
    padding: 0.5rem 2rem;
    margin: 0  0 0 5px;
  }
}
/*------git-dialog-popup-end---*/



/*------autocomplete-popup---*/
.autocomplete-plus {
  font-size: 1rem !important;
  * {
    font-size: 1.2rem !important;
  }
}
/*------autocomplete-popup---*/
