
////// project-drawer /////
/* --overides atom-tree-view --
all content associated with the project-tab drawer
includes overrides for general styles specific to
project drawer.--
---------contents----------
1.) general
-------contents-end-------*/



/*--------general----------*/
//--expanded directory--//
.expanded {
  // color: @text-open-folders;  //open folder color
  // border-radius: 4px;
}

li.directory.entry.list-nested-item {
  .selected {
    color: @text-find-replace-buttons;  // selected folder color
  }
}

.tree-view-resizer {
  // border-right: 1px solid @base-border-color;
}

.tree-view {
  background-color: @tree-view-background-color;
  //--options--//
  // background-color: @text-hover ;
  //background-color: @atom-text ;
  .list-item{
    &:hover {
      color: @text-hover;
    }
    &.selected {
      // color: @text-color-selected;
    }
  }
}
/*------general-end--------*/



/*------project-drawer-partition-----*/
.atom-dock-resize-handle.right, .atom-dock-resize-handle.left { //allows resizing of drawer
  width: 3px;
  // background-color: #1f232b;
}
/*------project-drawer-partition-end--*/



/*------project-directory-structure---*/
//---fixed to top master directory--//
.tool-panel.tree-view ol:nth-child(1){
  .header.list-item.project-root-header {
    //********* add foggy glass affect *********/
    //**************************************/
    position: static;
    color: @background-main;
    .project-tab_sticky__active & {
      position: sticky;
    }
    width: 100%;
    background-color: rgba(25, 28, 35, 0.68);
    padding-top: 0.5rem;
    z-index: 100;
    top: -1px;
    .name.icon {
      margin-left: 1rem;
    }
    &:hover {
      color: @text-hover;
      background-color: transparent;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      box-sizing: content-box;
      border-top: 1.1rem solid rgba(25, 28, 35, 0.68);
      border-left: 1rem solid rgba(25, 28, 35, 0.68);
      border-right: 1rem solid rgba(25, 28, 35, 0.68);
      width: 100%;
      margin-left: -4.5%;
      height: 2rem;
      pointer-events: none;
      border-radius: 24px 24px 0 0;
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      backdrop-filter: blur(1px);
      width: 100%;
      z-index: -10;
      height: 100%;
    }
  }
}

li.directory.entry.list-nested-item.project-root.expanded > ol.entries.list-tree{
  &:first-of-type {
    margin-top: 0rem; //increases spacing below master directory
    .project-tab_sticky__active & {
      margin-top: 0.5rem;
    }
  }
}

//--nested folders/files--//
ol.entries.list-tree{
  li {
    padding: 0.65rem 0;
    .directory.entry.list-nested-item.expanded {
      // padding-bottom: 0rem;
    }
    &.expanded{
      // color: @text-open-folders;
      // border-radius: 8px;
    }
  }
}

//-----adds spacing between 2 open directories---//
.directory-highlight__active ol.entries.list-tree li.expanded {
  & ~ .expanded, &:nth-child(1){
    margin-top: 0.65rem;
  }
}
/*------project-directory-structure-end---*/



/*-----THEME_SETTING: highlight-directory-scope(default=ON)----*/
.directory-highlight__active ol.entries.list-tree{
  li {
    &.expanded{
      width: 100%;
      overflow-x: hidden;
      color: @text-open-folders;
      margin-right: -0.65rem;
      padding-right: 0.65rem;
      border-radius: 8px;
      background-color: lighten(@tree-view-background-color, 1.5%);
      & .expanded{
        margin-right: 0.15rem;
        padding-right: 0.65rem;
        background-color: lighten(@tree-view-background-color, 3%);
        & .expanded {
          margin-right: 0.15rem;
          padding-right: 0.65rem;
          background-color: lighten(@tree-view-background-color, 4%);
          & .expanded{
            margin-right: 0.15rem;
            padding-right: 0.65rem;
            background-color: lighten(@tree-view-background-color, 5.5%);
            & .expanded{
              margin-right: 0.15rem;
              padding-right: 0.65rem;
              background-color: lighten(@tree-view-background-color, 7%);
            }
          }
        }
      }
    }
  }
}
/*-----THEME_SETTING: highlight-directory-scope-end----*/



/*------folder/file-state-styles-----*/
//--selected-items--//
.list-item.selected, .list-nested-item.selected {
  &.edited, .edited, &.modified, .modified, &.status-modified, .status-modified{
    color: @background-main;
  }
}

//--selected, hover + modified files--//
 li.file.entry.list-item.status-modified.selected {
  color: black !important;
  & span {
    background-color: fade(@background-main, 70%);
    &:hover {
      transition: none;
      color: @text-hover;
      background-color: fade(@background-main, 25%);
    }
  }
}

//--selected, hover + modified, expanded directories--//
li.directory.entry.list-nested-item.status-modified {
  &.expanded {
    color: @background-main;
  }
  &.selected {
    color: @background-project-drawer;
    & > div {
      background-color: fade(@background-main, 80%);
      &:hover {
        background-color: fade(@background-main, 25%);
      }
    }
  }
}

//--files selected and hover--//
li.file.entry.list-item.selected {
  margin-right: 0.65rem;
  & span {
    padding: 0.5rem;
    font-size: 1.1rem;
    .animations-enabled__active & {
      transition: background-color 0.2s;
    }
    background-color: @background-color-info;
    border-radius: 4px;
    &:hover {
      transition: none;
      color: @text-hover;
      background-color: rgba(152, 193, 217, 25%);
    }
  }
  &:before {
    // content: '';
    display: none;
  }
}

//--directories selected and hover--//
li.directory.entry.list-nested-item.selected {
  margin-right: 0.65rem;
  & > div {
    padding-left: 0.5rem;
    // width: 100%;
    font-size: 1.1rem;
    .animations-enabled__active & {
      transition: background-color 0.2s;
    }
    background-color: @background-color-info;
    border-radius: 4px;
    &:hover {
      transition: none;
      color: @text-hover;
      background-color: rgba(152, 193, 217, 25%);
    }
  }
  &:before {
    content: '';
    display: none;
  }
}
/*------folder/file-state-styles-end-----*/
