
////// tabs /////
/* --Overrides: atom/tabs--
Displays selectable tabs above the editor. includes
overrides for general styles specific to selectable file
tabs.--
---------contents----------
1.) Project-tab-(opens project-drawer) :line 19
2.) THEME_SETTING:Active-light-Bar-(default=ON) :line 32
3.) Tab-contents :line 58
4.) tab-bar :line 79
5.) THEME_SETTING:Toggleable-tab-bar-(default=OFF) :line 131
-------contents-end-------*/



/*------Project-tab-(opens project-drawer)-------*/
.atom-dock-content-wrapper.left {
  .panes li.tab.sortable.active {
  background-color: @project-panel-background;
  border-radius: 0 8px 0 0;
    &:after {
    display:none;
    }
  }
}
/*------Project-tab-end-------*/



/*------THEME_SETTING:Active-light-Bar-(default=ON)----*/
.tab {
    display:block;
  &::after {
    content: "";
    transform: scaleX(0);
    background-color:@test2;
    height:2px;
  }
  &.active::after {
    content: "";
    display:block;
    transition: transform 0.25s;
    background-color:@test2;
    transform: scaleX(1);
    height:2px;
  }
}
/*------light-Bar-end------*/



/*--------tab-bar-------*/
.tab-bar {
  background-color: @tab-bar-background-color;
  border-radius: 0px;
  & .title { //individual tab name
    margin-top: auto;
    margin-bottom: auto;
    margin-left:1.25rem;
    padding-right:1.667rem;
  }
  .tab {
    font-size: @font-size;
    margin-top:0.833rem;
    padding-left: 0rem;
    padding-right:0rem;
    height: @tab-height;
    display:flex;
    flex-direction:column;
    &:hover, &.active {
      color:@text-hover;
    }
    &.active {
      transition:background-color 0.45s 0.2s;
      border-radius:8px 8px 0 0;
      background-color: lighten(@tab-bar-background-color, 5.2%);
    }
    .close-icon {
      display:flex;
      justify-content: center;
      align-items: center;
      height:@tab-height;
    }
    //---Modified Icon in tab (x || o) ----//
    &.modified {
      .close-icon {
        color:@text-edited;
      }
    &:not(:hover) .close-icon {
      top: 50%;
      right: @component-padding + 0.333rem; // 4px -> half of icon size
      margin-top: -0.25rem;
      border-color: @text-color-info;
    }
  }
    //---Close Icon not modified (the X) ---//
    .close-icon:hover {
    color:@text-edited;
    }
    //---Dragging--Styles get applied while dragging a tab---//
    &.is-dragging {
      background: #191c23;
      border-color: transparent;
      opacity: .5;
      & .close-icon {
        visibility: hidden;
      }
    }
  }
}
/*--------tab-bar-end------*/



/*------THEME_SETTING:Toggleable-tab-bar-(default=OFF)----*/
.tab-bar__active .tab-bar {
  transition: height 0.25s;
  height:0.9rem;
  &:hover {
    height:4rem;
  }
}
/*------Toggleable-tab-bar-end----*/
