
h1,
h2,
h3 {
    line-height: 1em;
    margin-bottom: 15px;
}

h1 {
    font-size: 2em;
    font-weight: 200;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
}
a {
    transition:color 0.5s;
}
a:hover {
  text-decoration:none;
  color:@text-hover;
}

label {
    font-weight: normal;
}

pre {
    box-shadow: none;
    color: @text-color;
    border-radius: 3px;
    border: none;
    margin: 0;
}

code {

    background: @background-color-highlight;
    border-radius: @component-border-radius;
}

.markdown-preview code {
    text-shadow: none;
}

.selected {

}

.text-smaller {
    font-size: 0.9em;
}

.text-subtle {

}

.text-highlight {

}

.text-error {

}

.text-info {

    &:hover {
        color: @text-color-info;
    }
}

.text-warning {
    &:hover {
        color: @text-color-warning;
    }
}

.text-success {
    &:hover {
        color: @text-color-success;
    }
}

.highlight {
    color: @text-color-highlight;
    font-weight: bold;
    text-shadow: none;
    background-color: @background-color-highlight;
    border-radius: @component-border-radius;
    padding: 1px 3px;
}

.highlight-color(@name, @color, @text-color) {
    .highlight-@{name} {
        color: lighten(saturate(@text-color, 0%), 60%);
        font-weight: bold;
        text-shadow: none;
        background-color: fadeout(@color, 30%);
        border-radius: @component-border-radius;
        padding: 1px 3px;
    }
}
.highlight-color(info, @background-color-info, @text-color-info);
.highlight-color(warning, @background-color-warning, @text-color-warning);
.highlight-color(error, @background-color-error, @text-color-error);
.highlight-color(success, @background-color-success, @text-color-success);

.results-view .path-details.list-item {
    color: darken(@text-color-highlight, 18%);
}

.text .icon::before, .text.icon::before {
    margin: 0 4px;
}

.welcome-logo {
  border: 1px solid;
padding: 10px;
box-shadow: 5px 10px @text-color-highlight;
}


.status-modified, .edited {
  color:@text-edited !important;
}

.badge {
  background-color:@text-edited;
  color:black;
}
