
////// text /////
/* --general text styles and text mixins--
---------contents----------
1.) base-text-styles
2.) misc-text
3.) mixins
4.) settings-pages
-------contents-end-------*/



/*-------base-text-styles------*/
h1, h2, h3 {
  line-height: 1em;
  margin-bottom: 1.25rem;
}

h1 {
  font-size: 2em;
  font-weight: 200;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

p {
  line-height: 1.6em;
  margin-bottom: 1.25rem;
}

.welcome a, a {
  color: @background-color-info;
  .animations-enabled__active & {
  transition: color 0.5s;
  }
  &:hover {
    text-decoration: none;
    color: @text-hover;
  }
}

.link {
  color: @background-color-info !important;
  text-decoration: none !important;
  &:hover {
    color: @text-hover !important;
  }
}

//----editor label settings--//
label {
  font-weight: normal; //font-family/font-size editor setting
}
/*-------base-text-styles-end-----*/



/*-----misc-text--------*/
.background-message {
  font-weight: bold;
  color: @text-color-subtle;
}

.highlight {
  color: @text-color-highlight;
  font-weight: bold;
  text-shadow: none;
  background-color: @background-main;
  border-radius: @component-border-radius;
  padding: 1px 3px;
}

select#core\.uriHandlerRegistration {
  color: lighten(@text-color, 30%);
}

.uri-history th {
  font-weight: 400;
  color: lighten(@text-color, 20%);
}

.welcome-logo, .about-logo {
  margin-bottom: 0;
  color: @background-main;
  @col: saturate(@text-color, 10%);
  g:nth-child(2){
    color: darken(@col, 10%);
    // color:rgba(195,197,158, 0.5);
  }
}

.welcome-header {
  margin-bottom: 3rem;
  margin-top: 3rem;
  & .welcome-title {
    font-size: 2.5rem;
    margin: 1rem 2rem 1rem;
    // text-decoration: none !important;
  }
}

.welcome-panel .welcome-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: lighten(@text-color, 20%);
}

//--welcome logo animation --//
.animations-enabled__active .welcome-logo g:nth-child(2) path:nth-child(1), .about-logo g:nth-child(2) path:nth-child(1) { animation: e7bwtwskp4xm10_to__to 1100ms linear infinite normal forwards }
@keyframes e7bwtwskp4xm10_to__to {
  0% { transform: translate(0px, 0px); &:extend(.welcome-logo g:nth-child(2)); }
  9.090909%  { transform: translate(-1.818804px, -16.893591px);}
  18.181818% { transform: translate(-17.733341px, -6.900506px);color: saturate(@accentColor, -35%); }
  32.727273% { transform: translate(11.179299px, 26.094713px); }
  45.454545% { transform: translate(21.541633px, 12.680402px);color: inherit;}
  52.727273% { transform: translate(0px, 0px) }
  63.636364% { transform: translate(-18.770384px, -12.097644px);color: saturate(@accentColor, -35%);  }
  72.727273% { transform: translate(-2.691159px, 14.341415px) ; }
  81.818182% { transform: translate(19.441472px, 4.675027px);color: inherit; }
  90.909091% { transform: translate(17.167967px, -17.126732px) }
  100%       { transform: translate(0px,0px);color: saturate(@accentColor, -35%);  }
}

//---unsure where this goes--//
.results-view .path-details.list-item {
  color: darken(@text-color-highlight, 18%);
}
/*----misc-text-end---*/



/*----------mixins---------*/
.highlight-color(@name, @color, @text-color) {
  .highlight-@{name} {
    color: lighten(saturate(@text-color, 0%), 60%);
    font-weight: bold;
    text-shadow: none;
    background-color: fadeout(@color, 30%);
    border-radius: @component-border-radius;
    padding: 1px 3px;
  }
}

.highlight-color(info, @background-color-info, @background-color-info);
.highlight-color(warning, @background-color-warning, @text-color-warning);
.highlight-color(error, @background-color-error, @text-color-error);
.highlight-color(success, @background-color-success, @text-color-success);
/*-----mixins-end---*/



/*----settings-pages---*/
.settings-view section .section-heading, .settings-view .section .section-heading{
  color: lighten(@text-color, 0%);
  font-weight: lighter;
}

.section-heading:first-child {
  font-size: 2.7rem !important;
  &.icon:before {
    margin-right: 2.7rem;
    font-size: 2.7rem;
    .icon-paintcan& {
      margin-right: 2rem;
    }
  }
  & .badge {
    margin-left: 1.5rem;
    font-size: 2rem;
  }
}

.settings-view .sub-section .sub-section-heading, .setting-title.themes-label.text, .setting-title {
  color: lighten(@text-color, 20%);
  font-size: 1.5rem;
  font-weight: 400;
}

//--adds padding at start+end of settings pages--//
.settings-view .panels-item .section-container, .keybinding-panel {
  width: 80%;
  margin: 4.5rem auto 4rem auto !important;
  // padding-left: 5.5rem;
  // padding-right: 4rem;
  // & .section:first-of-type .section-heading:first-of-type {
  //   padding-top: 4.5rem;
  // }
}

//--styles list of installed packages in settings--//
.settings-view .package-card {
  .stats, .stats .icon:before {
    color: @background-color-info;
  }
  .package-name {
    color: lighten(@background-color-info, 10%);
  }
}

.updates-heading-container {
  margin-bottom: 2rem;
}

//----settings panel padding---//
.settings-view.pane-item .panels {
  overflow-x: scroll;
}

//----adds padding to theme picker section----//
.themes-picker-item.control-group {
  margin-top: 0 !important;
}

.themes-picker {
  padding-bottom: 2rem;
}

.section.packages.themes-panel .section-container > .section-heading {
  margin-bottom: 0.5rem;
}
/*----setting-page-headers-end--*/



/*----search results--*/
.preview-pane.pane-item .preview-header {
  background-color: @background-color-lighter;
  border-bottom: 1px solid darken( @app-background-color, 4%);
  color: @text-hover;
}

.preview-pane .results-view {
  & .match-row .preview {
    color: @text-color;
  }
  & .selected .path-row {
    color: @text-color-selected;
    background-color: @accentColor;
  }
  & .path-row {
    color: @text-hover;
  }
}
/*----search results--*/
