@import "colorSetting";

////// UI Variables /////
/*--These are the official UI variables that every UI theme should define.
// It allows other packages to match your theme.--
---------contents----------
1.) added-variables
2.) Text-Colors
3.) Background-colors
4.) Base-colors
4.) Component-colors
4.) Site-colors
4.) Sizes
4.) Misc
-------contents-end-------*/



/*------adjusts-accent-color----*/
@ac-light: lightness(@color-setting);
.mmm();
.mmm() when (@ac-light < 31%) {
  @adjust-accent-brightness:  lighten(@color-setting, 30% - @ac-light);
  @adjust-welcome-brightness: lighten(@color-setting, 15% - @ac-light);
  @adjust-text-brightness:    lighten(@adjust-accent-brightness, 10%);
}
.mmm() when (@ac-light > 30%) {
  @adjust-accent-brightness:  @color-setting;
  @adjust-welcome-brightness: darken(@color-setting, 10%);
  @adjust-text-brightness:    @color-setting;
}
.mmm() when (@ac-light > 70%) {
  @adjust-text-brightness:    darken(@color-setting, 20%);
}
@accentBrightness: @adjust-accent-brightness;
@Welcome-color:    @adjust-welcome-brightness;
/*------adjusts-accent-color-end---*/



/*----check-saturation---*/
@ac-saturation: saturation(@accentBrightness);
.sat-check();
.sat-check() when (@ac-saturation < 81%) {
  @adjust-accent-saturation: @accentBrightness;
}
.sat-check() when (@ac-saturation > 80%) {
  @adjust-accent-saturation: desaturate(@accentBrightness, @ac-saturation - 80%);
}
@textSaturation: desaturate(@accentBrightness, @ac-saturation - 5%);
@textBrightness: lightness(@textSaturation);
@text-color:     darken(@textSaturation, @textBrightness - 46%);
@accentColor:    @adjust-accent-saturation;
/*----check-saturation---*/



/*---added-variables---*/
//--text-variabes-//
@text-hover:               #ccdad1;
@text-suggestion:          #98C1D9;
@text-edited:              #d56f3e;
@folder-open-text:         darken(@text-suggestion, 5%);
@find-replace-button-text: #191c22;

@project-panel-background: #191c22;
@white:                    white;
@similar-background:       #282f3a;
@highlight-border:         1px solid black;

//--settings-panel-gradient--//
@complimentary:            spin(@accentColor, -(360 / 3));
@complimentary2:           spin(@complimentary, (360 / 3));

//--added-fonts--//
@font-family-default: '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
@font-family-light: Gotham, Roboto, "Lucida Grande", "Segoe UI", Ubuntu, Cantarell, sans-serif;
/*---added-variables-end--*/


/*---Text-Colors----*/
@text-color-subtle:  darken(@text-color, 10%);
@atom-text: darkcyan;
@text-color-highlight: #13161b;
@text-color-selected:  #1e222b;
@text-color-info:    @text-suggestion;
@text-color-success: hsl(140,  44%, 62%);
@text-color-warning: hsl( 36,  60%, 72%);
@text-color-error:   hsl(  9, 100%, 64%);
/*---Text-Colors-end---*/


/*--Background-colors--*/
@background-color-info:   @text-suggestion;
@background-color-success:  darkcyan;
@background-color-warning: hsl(32,   60%, 50%);
@background-color-error:   hsl(0,    70%, 50%);
@background-color-highlight: @accentColor;
@background-color-selected:  @accentColor;
@test2:  @background-color-selected;
@app-background-color:       darken(@base-background-color, 2%);
/*--Background-colors--*/


/*----Base-colors----*/
@base-background-color: #212630;
@base-border-color:     transparent;
/*--Base-colors-end--*/


/*---Component-colors---*/
@pane-item-background-color: @base-background-color;
@pane-item-border-color: @white;
@input-background-color: @app-background-color;
@input-border-color: @base-border-color;
@tool-panel-background-color: transparent;
@tool-panel-border-color: @base-border-color;
@inset-panel-background-color: lighten(@base-background-color, 4%);
@inset-panel-border-color: @base-border-color;
@panel-heading-background-color: lighten(@base-background-color, 4%);
@panel-heading-border-color: @base-border-color;
@overlay-background-color: lighten(@base-background-color, 5%);
@overlay-border-color: @white;
@button-background-color: lighten(@base-background-color, 10%);
@button-background-color-hover: lighten(@button-background-color, 12%);
@button-background-color-selected: @button-background-color-hover;
@button-border-color: @base-border-color;
@tab-bar-background-color: lighten(@project-panel-background, 3%);
@tab-bar-border-color: @base-border-color;
@tab-background-color: @tab-bar-background-color;
@tab-background-color-active: lighten(@tab-bar-background-color, 10%);
@tab-border-color: @base-border-color;
@tree-view-background-color: @project-panel-background;
@tree-view-border-color: @base-border-color;
/*---Component-colors-end--*/


/*----Site-colors---*/
@ui-site-color-1: hsl(208, 100%, 50%); // blue
@ui-site-color-2: hsl(160,  70%, 42%); // green
@ui-site-color-3: hsl(32,   60%, 50%); // orange
@ui-site-color-4: #D831B0;             // pink
@ui-site-color-5: #EBDD5B;             // yellow
/*----Site-colors---*/


/*--Sizes--*/
@font-size: 1rem;
@input-font-size: 1.1rem;
@disclosure-arrow-size: 1rem;
@component-padding: 0.9rem;
@component-icon-padding: 0.4rem;
@component-icon-size: 1.2rem;
@component-line-height: 2rem;
@tab-height: 3.3rem;
/*--Sizes-end--*/


/*---Misc--*/
@component-border-radius: 0.25rem;
@font-family: @font-family-light;
/*---Misc-end--*/
